<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="stringName" connectionString="Data Source=;Initial Catalog=;User ID=;Password=" providerName="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<appSettings>
		<add key="settingKey" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</appSettings>
</configuration>